<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="greet.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
</head>

<body>
    <div class="greetDiv">
        <div class="head">
            <div class="enter">
                <h1>
                    Greetings
                </h1>
            </div>
            <p><i>Enter your name and select a language to recieve a greeting...</i></p>
        </div>

        <div class="myGreet">
            <span class="{{greetMessage}}">{{greetMessage}}</span>
        </div>

        {{#if messages.info}}
        <div class="entry">
            <h1> {{messages.info}}</h1>
        </div>
        {{/if}}


        <div>

            <form action="/greet" method="POST">
                <input type="text" name="enterName" value="{{greet.enterName}}" placeholder="enter your name..."
                    class="greetMe">

                <div class="radioBtns">
                    <label class="english">
                        <input type="radio" name="languages" class="langRadio" value="English">
                        <span class="label-body">English</span>
                    </label>
                    <label class="Swedish">
                        <input type="radio" name="languages" class="langRadio" value="Swedish">
                        <span class="label-body">Swedish</span>
                    </label>
                    <label class="Dutch">
                        <input type="radio" name="languages" class="langRadio" value="Dutch">
                        <span class="label-body">Dutch</span>
                    </label>
                </div>
                <div class="theBtns">
                    <button class="button-primary greet" type="submit" name="button">Greet Me</button>

                </div>
            </form>




            <div class="counter">
                <div class="countlabel">
                    <a href="/greeted">
                        <p>Greeted Names</p>
                    </a>
                </div>
                <div class="count">
                    <span class="{{myCount}}">{{myCount}}</span>
                </div>
                <div>
                    <button onClick="window.location.reload();" class="button-primary Reset" type="button"
                        name="button">Reset</button>
                </div>
            </div>
        </div>
</body>


</html>